*.db
*.doc
*.docx
*.env
*.htm
*.html
*.ipynb
*.pdf
*.pk
*.pt
*.swp
*.tar.bz2
*.ts
*.txt
*.xlsx
*.zstd
*__pycache__*
configs/*
misc/configsOld*
py.env
tmp.*
*/0732_embeddings/*
*_-_embedding_memory.json
